.post_display {
    border: thin;
    border-radius: 15px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.post_display div * {
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

.post_info {
    display: inline-flex;
}

.profile-head {
    margin: 20px;
    border-bottom: 2px solid gray;
}

#follow_data {
    display: inline-flex;
}

#follow_data * {
    margin: 10px;
}

#new_post_content {
    align-self: center;
    height: 100px;
    margin: 10px;
    width: 30%;
}

#new_post_form {
    align-self: center;
    margin: 10px;
}

#new_post_form h5 {
    align-content: center;
}